@media (max-width: 768px ) {

    nav {
        flex-wrap: wrap;
    }
    
    nav ul {
        width: 100%;
        flex-direction: column;
        font-size: 15px;
    }

    nav ul.hidden {
        display: none;
    }

    .menu-icon {
        display: flex;
        align-items: center;
        font-size: 28px;
    }

    span {
        cursor: pointer;
    }

    main .container {
        padding: 100px 3%;
    }

    .how-to-rent {
        overflow-x: hidden;
    }

    .side-how {
        margin-left: 40px;
    }

    .img-vespa {
        display: none;
    }

    .map {
        display: none;
    }

    .contact-info {
        text-align: center;
    }

    .contact-more-info .contact-location {
        margin-left: 200px;
    }

    .contact-more-info .contact-phone {
        margin-left: 197px;
    }

    .contact-more-info .contact-message {
        margin-left: 198px;
    }

    .logo-footer .img-logo {
        margin-top: 43px;
    }

    .navbar-footer p {
        display: flex;
        align-items: center;
        text-align: center;
        font-size: 15px;
    } 

    .navbar-footer ul {
        display: flex;
        flex-wrap: wrap; 
        font-size: 15px;
    }

}

@media (max-width: 480px ) {
    .side-how h1 {
        margin-right: 280px;
    }
    .how-to-rent .side-how .list-angka{
        padding: 4rem 4rem 2rem 0;
    }

    .how-to-rent .side-how .list-angka img {
        width: 30px;
        height: 30px;
    }

    .how-to-rent .side-how .list-angka .list h2  {
        font-size: 25px;
    }

    .contact-container .contact-info h3 {
        font-size: 20px;

    }

    .contact-info .contact-more-info {
        padding: 20px 0;
        width: 200px;
    }

    .contact-info .contact-more-info .contact-location {
        margin: 30px 55px;
    }

    .contact-info .contact-more-info .contact-phone {
        margin: 30px 55px;
    }

    .contact-info .contact-more-info .contact-message {
        margin: 30px 55px;
    }

    .footer {
        display: none;
    }

}


